// For: parts/asc-header.php

#banner {
 img {
 //  max-height: 56.25%;
  width: 100%;
  // overflow-y: hidden;
 }
}

#banner-caption {
  color: $white;
  background-color: $asc-darkgray;
  border: none;
  margin-bottom: 0;
  padding: 1rem;

  .social {
    float: right;
  }

  .small-block-grid-4 {
    padding-top: 2rem;
    padding-bottom: 1rem;
    text-align: center;
    img {
      width: 2rem;
      height: 2rem;
    }
  }

  @media #{$small-only} {
    padding: 0.5rem;
    font-size: 75%;
    .social {
      float: none;
      padding: 1rem 0 0 1rem;
    }
    .small-block-grid-4 {
      padding-top: 1rem;
      padding-bottom: 0;
    }
  }


  .social li {
    @media#{$medium-only} {
      margin-left: 1.85rem;
    }
    @media#{$large-up} {
      margin-left: 4.3rem;
    }
  }

  .social img {
    width: 2rem;
    height: 2rem;
  }
}