/*

 Basic styles for FoundationPress demo site

*/
@import url(http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800);

body {
	background: $asc-bggray;
	font-family: "Open Sans";
}

section.container {
	margin-bottom: 0;
}

// main content section container link styling
section.container a {
	color: $lesson-orange;
	font-weight: bold;
	text-decoration: none;
	&:hover {
		color: $lesson-red;
		border-bottom: 2px solid $lesson-red;
	}
	&:visited {
		color: darken($lesson-orange, 20%);
		border-bottom: none;
		font-weight: normal;
		&:hover {
			color: $lesson-red;
			border-bottom: 2px solid $lesson-red;
		}
	}
	&:active {
		padding-top: 2px;
	}
} // section.container a

// Reset margin and padding on figure element
figure {
	margin: 0;
	padding: 0;
}

// Add some basic styling for figcaption element
figcaption {
	margin-bottom: rem-calc(20);
	margin-top: rem-calc(10);
	color: #6f6f6f;
}

// Add the alignment classes used by the WordPress media library

.alignleft {
	float: left;
}

.alignright {
	float: right;
}

.aligncenter {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

blockquote.alignleft,
img.alignleft {
	margin: rem-calc(7) rem-calc(24) rem-calc(7) 0;
}

.wp-caption.alignleft {
	margin: rem-calc(7) rem-calc(14) rem-calc(7) 0;
}

blockquote.alignright,
img.alignright {
	margin: rem-calc(7) 0 rem-calc(7) rem-calc(24);
}


// styling the post tags to look like.. well.. tags :-)
.tag-lead {
	float: left;
	font-size: 70%;
	margin-top: 0.3rem;
	text-transform: uppercase;
	color: #333333;
	cursor: default;
}
a[rel~="tag"] {
	font-size: 70%;
	float: left;
 	position: relative;
 	width: auto;
 	height: 30px;
 	margin-left: 20px;
 	margin-bottom: 0.25rem;
 	padding: 0 6px;
 	line-height: 30px;
 	background: $asc-lightgray;
 	color: #fff;
 	font-weight: 600;
 	text-decoration: none;
 	-moz-border-radius-bottomright: 4px;
 	-webkit-border-bottom-right-radius: 4px;
 	border-bottom-right-radius: 4px;
 	-moz-border-radius-topright: 4px;
 	-webkit-border-top-right-radius: 4px;
 	border-top-right-radius: 4px;
	opacity: 0.65;

	&:before {
		content: "";
 		position: absolute;
 		top: 0;
 		width: 0;
 		height: 0;
 		border-style: solid;
 		left: -15px;
 		border-color: transparent $asc-lightgray transparent transparent;
 		border-width: 15px 15px 15px 0;
	}
	&:after {
 		content: "";
 		position: absolute;
 		top: 13px;
 		width: 4px;
 		height: 4px;
 		-moz-border-radius: 2px;
 		-webkit-border-radius: 2px;
 		border-radius: 2px;
 		background: #fff;
 		-moz-box-shadow: -1px -1px 2px #004977;
 		-webkit-box-shadow: -1px -1px 2px #004977;
 		box-shadow: -1px -1px 2px #004977;
 		left: -2px;
	}

	&:hover {
		border-bottom: none !important;
		opacity: 1.0;
	}
} //.tags


// Fix the issue where the WP adminbar overlaps the mobile menu
#wpadminbar {
	position: fixed !important;
}

#primary-nav {
	opacity: 0.9;
}

// centering the infinite-scroll loading indicator
div.spinner[role="progressbar"] {
	margin: 0 auto;
}


// make the primary nav bar transparent on desktop/tablet
.top-bar-container .sticky {
	background: inherit;
	opacity: 0.9;
}

// style for the blog category list under post headings
ul.breadcrumbs.categories {
  background: none;
  border: none;
  margin-bottom: 0;

  a {
    padding: 5px;
    &:hover {
      border-bottom: 4px solid $lesson-orange;
    }
  }
}

// styling for "back to top" button on blog pages
.cd-top.cd-is-visible {
  /* the button becomes visible */
  visibility: visible;
  opacity: 1;
}
.cd-top.cd-fade-out {
  /* if the user keeps scrolling down, the button is out of focus and becomes less visible */
  opacity: .5;
}


// custom styline for the dropdowns and main nav
.top-bar-section li.active:not(.has-form) a:hover:not(.button) {
	background: white;
	color: $lesson-orange;
}
.top-bar-menu li.menu-item:not(.parent-link) :hover {
	span.nav-underline:not(&.parent-link) {
		border-bottom: 4px solid $lesson-orange;
	}
}
ul.sub-menu.dropdown:hover {
	li a span.nav-underline {
		border-bottom: none !important;
	}
	li a:hover span.nav-underline {
		border-bottom: 4px solid $lesson-orange !important;
	}
}

// styling for expand/collapse text links on blog index
a.expand-excerpt, a.collapse-excerpt {
	font-size: 90%;
	font-weight: 200 !important;
}

// state styling for favorite button on lesson videos
i.fa-heart.favorited {
	&:before {
		color: $lesson-red;
		@extend .animated;
		@extend .tada;
	}
	span {
		color: $black;
	}
}


// button that takes user to top of page
.topbutton {
	height:50px;
	width:50px;
	position:fixed;
	right:5%;
	bottom:5%;
	z-index:1;
	background: transparent;
	border: 3px solid $asc-lightgray;
	display:none;
  -webkit-transition: background 0.5s linear;
  -moz-transition: background 0.5s linear;
  -ms-transition: background 0.5s linear;
  -o-transition: background 0.5s linear;
  transition: background 0.5s linear;
	&:hover {
		background: $asc-lightgray;
		span {
			color: $lesson-orange;
		}
	}
	span {
		height: 50px;
		width: 50px;
		color: $asc-mediumgray;
  	-webkit-transition: color 0.5s linear;
  	-moz-transition: color 0.5s linear;
  	-ms-transition: color 0.5s linear;
  	-o-transition: color 0.5s linear;
  	transition: color 0.5s linear;
  	i {
		  display: table-cell;
		  width: 50px;
		  height: 50px;
		  text-align: center;
		  padding: 12px;
  	}
	}
}


/**
 * SIZE-SPECIFIC STYLINGS
 */
// change font size and padding on medium screens so the main nav links dont wrap
@media #{$medium-only} {
	.top-bar-section li:not(.has-form) a:not(.button) {
		padding: 0 0.8rem;
		font-size: rem-calc(16);
	}
}
// increase padding of menu on large screens so nav bar takes up more space
@media #{$large-up} {
	.top-bar-section li:not(.has-form) a:not(.button) {
		padding: 0 2rem;
	}
}
// Add some whitespace above the footer for medium-up screens
@media #{$medium-up} {
	footer.pagefooter.row {
		margin-top: rem-calc(60);
	}
}