
body.single-lesson {

  section.container > .row:nth-child(2) {
    background: $white !important;
  }

}


.lesson-single {

  h3 {
    font-weight: 200;
    color: $lesson-blue;
  }

  section.title {
    margin: 2rem 0;
    color: $lesson-blue;
  }

  section.embedded-content {
    .embed-container {
      position: relative;
      padding-bottom: 56.25%;
      height: 0;
      overflow: hidden;
      max-width: 100%;
    }
    .embed-container iframe, .embed-container object, .embed-container embed {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
    }

    .vid-actions {
      margin: 1rem 0 2rem 0;
      li:first-child {
        margin-left: 0;
      }
      li span:before {
        content: "";
        margin-left: 0.5rem;
      }
      a {
        border-bottom: 3px solid transparent;
        color: $black;
      }
      a:hover {
        border-bottom: 3px solid $lesson-orange;
      }
    }
  }


  section.lesson-content {
    h3 {
      padding-bottom: 0.5rem;
      border-bottom: 2px solid $lesson-blue;
    }

    ul {
      list-style-type: none;
      padding: 0;
      margin: 0;
      li {
        padding-left: 1em;
        text-indent: -.7em;
        &:before {
          content: "\002022";
          color: $lesson-blue;
          padding-right: 7px;
        }
      }
    }
  }

}