/******
COLORS
******/
$black:         #000000;
$white:         #FFFFFF;

// LESSON ICONS
$lesson-blue:   #33B2E6;
$lesson-green:  #26B789;
$lesson-orange: #F58231;
$lesson-yellow: #FFD648;
$lesson-red:    #E43533;
$lesson-purple: #616373;

// ASC-SPECIFIC COLORS
$asc-bggray:     #F7F9F9;
$asc-lightgray:  #EDEDED;
$asc-mediumgray: #C8C8C8;
$asc-darkgray:   #3C3C3C;

$rit-brown: #513127;
$rit-orange: #F36E21;
$rit-gray: #C7C3BD;
$rit-black: $black;

// RIT BRANDING COLORS
